{% extends 'core_common.html' %}

{% block title %}Task Hall{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/taskhall.css">
  <script src="/static/plugins/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block body %}
{{ super() }}

<v-topbar>
  <div class="right menu">
    <div class="item">
      <a href="{{url_for('taskhall.taskhall_index')}}" class="ui button">Back to Hall</a>
    </div>
  </div>
</v-topbar>


<div id="view-taskhall-detail" class="main-container" v-cloak>

  <div id="taskhall-detail-main">
    <div class="main">
    <div id="taskhall-detail-question" class="ui segment">
      <div class="header">{{task.title}}</div>
      <div class="content">
        <div class="author">
          <div class="avatar">
            <img class="ui image" src="{{task.owner.avatar or '/static/img/avatar.jpg'}}"></img>
          </div>
          <div class="name">{{task.owner.username}}</div>
          <div class="tracks">
            {% for track in task.owner.tracks %}
            <div class="ui circular image"><img src="/static/img/tracks/tracks_{{track.name}}.png" alt=""></div>
            {% endfor %}
          </div>
        </div>
        <div class="main">
          <div class="text">
            {{task.content|safe}}
          </div>
          <div class="toolbar">
            <a id="taskhall-detail-votes" style="cursor: pointer;" v-on="click: updateLike({{task.id}})" data-votes="{{task.votes}}"><i class="blue thumbs up icon" v-class="outline: !voted"></i> [[votes]]</a>
          </div>
        </div>
      </div>
    </div>

  <div id="taskhall-detail-answers" class="ui segment">
    <h1 class="ui header">{{task.answers.count()}} answers</h1>
    {% for answer in task.answers %}
    <v-answer answer-id="{{answer.id}}">
      <img class="ui image" src="{{answer.owner.avatar or '/static/img/avatar.jpg'}}"></img>
        <span class="author name">{{answer.owner.username}}</span>
        <span class="answer time">{{answer.timestamp.strftime('%H:%M')}}</span>
        <span class="answer date">{{answer.timestamp.strftime('%d %b, %Y')}}</span>
        <span class="comment count">{{answer.comments.count()}}</span>
      <div class="text">
        {{answer.content | safe}}
      </div>
      {% for comment in answer.comments %}
      <v-comment answer-id="{{answer.id}}" comment-author="{{comment.owner.username}}">
      <span class="author">{{comment.owner.username}}</span>
      <span class="date">{{comment.timestamp.strftime('%d %b, %Y')}}</span>
      <div class="text">{{comment.content | safe}}</div>
      </v-comment>
    {% endfor %}
  </v-answer>
{% endfor %}

  <div class="ui divider"></div>
  {% if current_user.is_authenticated() %}
  <form id="taskhall-detail-answer-form" class="ui form" action="/taskhall/action/answer" method="POST">
    <div class="ui header">Add Your Answer</div>
    <input type="hidden" name="task_id" value="{{task.id}}">
    <div class="field">
      <textarea name="content" id="taskhall-detail-answer-content"></textarea>
      <script>
      CKEDITOR.replace('taskhall-detail-answer-content', {
          filebrowserUploadUrl: '/pic/upload'
      });
      </script>
    </div>
    <input type="submit" class="ui blue button" value="Submit">
  </form>
  {% else %}
  <p>You must <a href="{{url_for('auth.login')}}">login</a> to add an answer.</p>
  {% endif %}

  </div>

  </div>

  <div class="info">
    <div class="meta date">
      <i class="clock icon"></i>
      <div class="content">
        <div class="title">asked</div>
        <div class="number">{{task.timestamp.strftime('%d %b, %Y')}}</div>
      </div>
    </div>
    <div class="meta views">
      <i class="eye icon"></i>
      <div class="content">
        <div class="title">viewed</div>
        <div class="number">{{task.views}}</div>
      </div>
    </div>
    <div class="meta active">
      <i class="sun icon"></i>
      <div class="content">
        <div class="title">active</div>
        <div class="number">{{task.active_time.strftime('%d %b, %Y')}}</div>
      </div>
    </div>
  </div>

</div>

<template id="comment-template">
  <div class="comment">
    <div class="content">
      <content select="span.author"></content>
      <div class="metadata">
        <content select="span.date"></content>
      </div>
      <content select="div.text"></content>
      <div class="actions">
        {% if current_user.is_authenticated() %}
        <a class="reply" v-on="click: showReply = !showReply">[[showReply ? 'Hide' : 'Reply']]</a>
        {% else %}
        <a class="reply" href="{{url_for('auth.login')}}">Reply</a>
        {% endif %}
      </div>
    </div>
  <form action="/taskhall/action/comment" method="POST" class="ui reply form" v-show="showReply">
    <input type="hidden" name="answer_id" v-attr="value: answerId">
    <div class="ui action input field">
      <input type="text" name="content" v-attr="value: '@' + commentAuthor + ' '">
      <button type="submit" class="ui small blue labeled icon button">
        <i class="edit icon"></i>Reply
      </button>
    </div>
  </form>
  </div>
</template>

<template id="answer-template">
    <div class="answer">
      <div class="author">
        <div class="avatar">
          <content select="img"></content>
        </div>
        <div class="name"><content select="span.author.name"></content></div>
        <div class="date"><div>answered</div><div><content select="span.answer.time"></content></div><div><content select="span.answer.date"></content></div></div>
      </div>
      <div class="content">
      <content select="div.text"></content>
        <a style="cursor: pointer;" class="comment link" v-on="click: showComments = !showComments"><content select="span.comment.count"></content> comments</a>
        <div class="ui minimal comments" v-show="showComments">
          <content select="v-comment"></content>
          <div class="ui divider"></div>
          {% if current_user.is_authenticated() %}
          <form action="/taskhall/action/comment" class="ui form" method="POST">
            <input type="hidden" name="answer_id" v-attr="value: answerId">
            <div class="field">
              <input type="text" name="content">
            </div>
            <button type="submit" class="ui small blue labeled icon submit button">
              <i class="edit icon"></i>Add New Comment
            </button>
          </form>
          {% else %}
          <p>You must <a href="{{url_for('auth.login')}}">login</a> to add a comment.</p>
          {% endif %}
        </div>
      </div>
    </div>
</template>

<script src="/static/js/lib/jquery.autoellipsis-1.0.10.min.js"></script>
<script src="/static/js/taskhall/taskhall_detail.js"></script>
<script src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

{% endblock %}
