{% extends 'core_common.html' %}

{% block title %}Task Hall{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/taskhall.css">
  <script src="/static/plugins/ckeditor/ckeditor.js"></script>
{% endblock %}

{% block body %}
{{ super() }}

<v-topbar>
  <div class="right menu">
    <div class="item">
      <div class="ui button">All Questions</div>
    </div>
    <div class="item">
      <div class="ui button">Unanswered</div>
    </div>
  </div>
</v-topbar>


<div id="view-taskhall-detail" class="main-container" v-cloak>

  <div id="taskhall-detail-main">
    <div class="main">
    <div id="taskhall-detail-question" class="ui segment">
      <div class="header">{{task.title}}</div>
      <div class="content">
        <div class="author">
          <div class="avatar">
            <img class="ui image" src="{{task.owner.avatar}}"></img>
          </div>
          <div class="name">{{task.owner.username}}</div>
          <div class="tracks">
            {% for track in task.owner.tracks %}
            <div class="ui circular image"><img src="/static/img/tracks/tracks_{{track.name}}.png" alt=""></div>
            {% endfor %}
          </div>
        </div>
        <div class="main">
          {{task.content}}
          <div class="toolbar">
            <a href=""><i class="blue thumbs up outline icon"></i> {{task.votes}}</a>
          </div>
        </div>
      </div>
    </div>

  <div id="taskhall-detail-answers" class="ui segment">
    <h1 class="ui header">{{task.answers.count()}} answers</h1>
    {% for answer in task.answers %}
    <div class="answer">
      <div class="author">
        <div class="avatar">
          <img class="ui image" src="/static/img/avatar.jpg"></img>
        </div>
        <div class="name">{{answer.owner.username}}</div>
        <div class="date"><div>answered</div><div>{{answer.timestamp.strftime('%H:%M')}}</div><div>{{answer.timestamp.strftime('%d %b, %Y')}}</div></div>
      </div>
      <div class="content">
        <div class="text">
          {{answer.content | safe}}
        </div>
        <a href="" class="comment link">{{answer.comments.count()}} comments</a>
        <div class="ui minimal comments">
          {% for comment in answer.comments %}
          <v-comment>
            <span class="author">{{comment.owner.username}}</span>
            <span class="date">{{comment.timestamp.strftime('%d %b, %Y')}}</span>
            <div class="text">{{comment.content | safe}}</div>
          </v-comment>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}

  <form id="taskhall-detail-answer-form" class="ui form">
    <div class="header">Add Your Answer</div>
    <div class="field">
      <label>Title:</label>
      <input name="title" type="text">
    </div>
    <div class="field">
      <label>Content:</label>
      <textarea name="content" id="taskhall-detail-answer-content"></textarea>
      <script>CKEDITOR.replace('taskhall-detail-answer-content');</script>
    </div>
  </form>

  </div>

  </div>

  <div class="info">
    <div class="meta date">
      <i class="clock icon"></i>
      <div class="content">
        <div class="title">asked</div>
        <div class="number">{{task.timestamp.strftime('%d %b, %Y')}}</div>
      </div>
    </div>
    <div class="meta views">
      <i class="eye icon"></i>
      <div class="content">
        <div class="title">viewed</div>
        <div class="number">{{task.views}}</div>
      </div>
    </div>
    <div class="meta active">
      <i class="sun icon"></i>
      <div class="content">
        <div class="title">active</div>
        <div class="number">{{task.active_time.strftime('%d %b, %Y')}}</div>
      </div>
    </div>
  </div>

</div>

<template id="comment-template">
  <div>
    <div class="comment">
      <div class="content">
        <content select="span.author"></content>
        <div class="metadata">
          <content select="span.date"></content>
        </div>
        <content select="div.text"></content>
        <div class="actions">
          <a class="reply" v-on="click: showReply = !showReply">[[showReply ? 'Hide' : 'Reply']]</a>
        </div>
      </div>
    </div>
    <form action="" class="ui reply form" v-show="showReply">
      <div class="field">
        <input type="text">
      </div>
      <div class="ui small blue labeled icon button">
        <i class="edit icon"></i>Reply
      </div>
    </form>
  </div>
</template>


<script src="/static/js/jquery.autoellipsis-1.0.10.min.js"></script>
<script src="/static/js/taskhall/taskhall_detail.js"></script>
<script src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

{% endblock %}
