<div id="view-taskhall-index" class="main-container" v-cloak>

  <div id="taskhall-index-main">
    <h1 class="ui header">Task Hall</h1>
    <div id="taskhall-index-grid">
      <div class="main column">
        <div id="taskhall-index-navbar">
          <div class="left part">
            [[selectedTab | capitalize]]
          </div>
          <div class="right part">
            <div class="ui icon input" id="taskhall-index-search-input"><i class="search icon"></i><input type="text" placeholder="Search for questions..."></div>
            <div class="ui inline dropdown" id="taskhall-index-order-dropdown">
              <input type="hidden" v-model="currentOrder" lazy>
              <div class="text">vote</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="[[ord]]" v-repeat="ord : orders">[[ord]]</div>
              </div>
            </div>
          </div>
        </div>


      <div class="taskhall-index question item">
        <div class="question statistics">
          <div class="ui statistic">
            <div class="value">17</div>
            <div class="label">views</div>
          </div>
          <div class="ui statistic">
            <div class="value">293</div>
            <div class="label">votes</div>
          </div>
          <div class="ui statistic">
            <div class="value">10</div>
            <div class="label">answers</div>
          </div>
        </div>
        <div class="question main">
          <div class="header"><a href="">Question Title</a></div>
          <div class="detail">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
          </div>
        </div>
        <div class="question author">
          <div class="ui small image"><img src="/static/img/avatar.jpg" alt="author"></div>
          <div class="info">
            <div class="date">asked 8-12</div>
            <div class="author name">leasunhy</div>
          </div>
        </div>
        <div class="ui author popup transition hidden">
          <div class="author name">leasunhy</div>
          <div class="track list">
            <div class="ui circular image"><img src="/static/img/tracks/tracks_artanddesign.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_software.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_newapplication.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_energy.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_foundationaladvance.png" alt=""></div>
          </div>
          <div class="question count"><span class="figure">20</span> questions</div>
          <div class="answer count"><span class="figure">500</span> answers</div>
          <div class="share public count"><span class="figure">2333</span> share/public</div>
        </div>
      </div>

      <div class="taskhall-index question item">
        <div class="question statistics">
          <div class="ui statistic">
            <div class="value">17</div>
            <div class="label">views</div>
          </div>
          <div class="ui statistic">
            <div class="value">293</div>
            <div class="label">votes</div>
          </div>
          <div class="ui statistic">
            <div class="value">10</div>
            <div class="label">answers</div>
          </div>
        </div>
        <div class="question main">
          <div class="header"><a href="">Question Title</a></div>
          <div class="detail">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
          </div>
        </div>
        <div class="question author">
          <div class="ui small image"><img src="/static/img/avatar.jpg" alt="author"></div>
          <div class="info">
            <div class="date">asked 8-12</div>
            <div class="author name">leasunhy</div>
          </div>
        </div>
        <div class="ui author popup transition hidden">
          <div class="author name">leasunhy</div>
          <div class="track list">
            <div class="ui circular image"><img src="/static/img/tracks/tracks_artanddesign.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_software.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_newapplication.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_energy.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_foundationaladvance.png" alt=""></div>
          </div>
          <div class="question count"><span class="figure">20</span> questions</div>
          <div class="answer count"><span class="figure">500</span> answers</div>
          <div class="share public count"><span class="figure">2333</span> share/public</div>
        </div>
      </div>

      <div class="taskhall-index question item">
        <div class="question statistics">
          <div class="ui statistic">
            <div class="value">17</div>
            <div class="label">views</div>
          </div>
          <div class="ui statistic">
            <div class="value">293</div>
            <div class="label">votes</div>
          </div>
          <div class="ui statistic">
            <div class="value">10</div>
            <div class="label">answers</div>
          </div>
        </div>
        <div class="question main">
          <div class="header"><a href="">Question Title</a></div>
          <div class="detail">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
          </div>
        </div>
        <div class="question author">
          <div class="ui small image"><img src="/static/img/avatar.jpg" alt="author"></div>
          <div class="info">
            <div class="date">asked 8-12</div>
            <div class="author name">leasunhy</div>
          </div>
        </div>
        <div class="ui author popup transition hidden">
          <div class="author name">leasunhy</div>
          <div class="track list">
            <div class="ui circular image"><img src="/static/img/tracks/tracks_artanddesign.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_software.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_newapplication.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_energy.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_foundationaladvance.png" alt=""></div>
          </div>
          <div class="question count"><span class="figure">20</span> questions</div>
          <div class="answer count"><span class="figure">500</span> answers</div>
          <div class="share public count"><span class="figure">2333</span> share/public</div>
        </div>
      </div>

      <div class="taskhall-index question item">
        <div class="question statistics">
          <div class="ui statistic">
            <div class="value">17</div>
            <div class="label">views</div>
          </div>
          <div class="ui statistic">
            <div class="value">293</div>
            <div class="label">votes</div>
          </div>
          <div class="ui statistic">
            <div class="value">10</div>
            <div class="label">answers</div>
          </div>
        </div>
        <div class="question main">
          <div class="header"><a href="">Question Title</a></div>
          <div class="detail">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
          </div>
        </div>
        <div class="question author">
          <div class="ui small image"><img src="/static/img/avatar.jpg" alt="author"></div>
          <div class="info">
            <div class="date">asked 8-12</div>
            <div class="author name">leasunhy</div>
          </div>
        </div>
        <div class="ui author popup transition hidden">
          <div class="author name">leasunhy</div>
          <div class="track list">
            <div class="ui circular image"><img src="/static/img/tracks/tracks_artanddesign.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_software.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_newapplication.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_energy.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_foundationaladvance.png" alt=""></div>
          </div>
          <div class="question count"><span class="figure">20</span> questions</div>
          <div class="answer count"><span class="figure">500</span> answers</div>
          <div class="share public count"><span class="figure">2333</span> share/public</div>
        </div>
      </div>

      <div class="taskhall-index question item">
        <div class="question statistics">
          <div class="ui statistic">
            <div class="value">17</div>
            <div class="label">views</div>
          </div>
          <div class="ui statistic">
            <div class="value">293</div>
            <div class="label">votes</div>
          </div>
          <div class="ui statistic">
            <div class="value">10</div>
            <div class="label">answers</div>
          </div>
        </div>
        <div class="question main">
          <div class="header"><a href="">Question Title</a></div>
          <div class="detail">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
          </div>
        </div>
        <div class="question author">
          <div class="ui small image"><img src="/static/img/avatar.jpg" alt="author"></div>
          <div class="info">
            <div class="date">asked 8-12</div>
            <div class="author name">leasunhy</div>
          </div>
        </div>
        <div class="ui author popup transition hidden">
          <div class="author name">leasunhy</div>
          <div class="track list">
            <div class="ui circular image"><img src="/static/img/tracks/tracks_artanddesign.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_software.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_newapplication.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_energy.png" alt=""></div>
            <div class="ui circular image"><img src="/static/img/tracks/tracks_foundationaladvance.png" alt=""></div>
          </div>
          <div class="question count"><span class="figure">20</span> questions</div>
          <div class="answer count"><span class="figure">500</span> answers</div>
          <div class="share public count"><span class="figure">2333</span> share/public</div>
        </div>
      </div>


      <div class="ui pagination menu">
        <a href="" class="item">&lt;</a>
        <a href="" class="active item">1</a>
        <a href="" class="item">2</a>
        <a href="" class="item">3</a>
        <a href="" class="item">4</a>
        <a href="" class="item">5</a>
        <div class="disabled item">...</div>
        <a href="" class="item">10</a>
        <a href="" class="item">11</a>
        <a href="" class="item">12</a>
        <div class="disabled item">...</div>
        <a href="" class="item">&gt;</a>
      </div>

    </div>
    <div class="sticky column">
      <div class="ui sticky" id="taskhall-index-sticky">
        <div class="dummy statistic container">
          <div class="ui small statistic">
            <div class="value">[[questionCount]]</div>
            <div class="label">questions</div>
          </div>
        </div>
        <div class="dummy container">
          <div class="ui button" v-on="click: selectedTab = 'question'" v-class="selected: selectedTab === 'question'">Question</div>
        </div>
        <div class="dummy container">
          <div class="ui button" v-on="click: selectedTab = 'unanswered'" v-class="selected: selectedTab === 'unanswered'">Unanswered</div>
        </div>
        <div class="dummy container">
          <div class="ui button">Ask a question</div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
