<div id="view-taskhall-index" class="main-container" v-cloak>

  <div class="ui container" id="taskhall-index-main">
    <h1 class="ui header">Task Hall</h1>
    <div class="ui padded grid">
      <div class="thirteen wide column">
        <div id="taskhall-index-navbar">
          <div class="left part">
            [[selectedTab | capitalize]]
          </div>
          <div class="right part">
            <div class="ui icon input" id="taskhall-index-search-input"><i class="search icon"></i><input type="text" placeholder="Search for questions..."></div>
            <div class="ui inline dropdown" id="taskhall-index-order-dropdown">
              <input type="hidden" v-model="currentOrder" lazy>
              <div class="text">vote</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="[[ord]]" v-repeat="ord : orders">[[ord]]</div>
              </div>
            </div>
          </div>
        </div>

      <div class="taskhall-index question item">
        <div class="question statistics">
          <div class="ui statistic">
            <div class="value">17</div>
            <div class="label">views</div>
          </div>
          <div class="ui statistic">
            <div class="value">293</div>
            <div class="label">votes</div>
          </div>
          <div class="ui statistic">
            <div class="value">10</div>
            <div class="label">answers</div>
          </div>
        </div>
        <div class="question main">
          <div class="header"><a href="">Question Title</a></div>
          <div class="detail">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, distinctio dolorem rem fugiat. Quibusdam tempore molestias dolores, praesentium, amet, cupiditate odio delectus accusantium quae et velit magnam voluptatem, quod earum.
          </div>
        </div>
        <div class="question author">
          <div class="ui small image"><img src="/static/img/avatar.jpg" alt="author"></div>
          <div class="info">
            <div class="date">asked 8-12</div>
            <div class="author name">leasunhy</div>
          </div>
        </div>
      </div>

    </div>
    <div class="three wide column">
      <div class="ui sticky" id="taskhall-index-sticky">
        <div class="ui small statistic">
          <div class="value">[[questionCount]]</div>
          <div class="label">questions</div>
        </div>
        <div class="ui button" v-on="click: selectedTab = 'question'" v-class="selected: selectedTab === 'question'">Question</div>
        <div class="ui button" v-on="click: selectedTab = 'unanswered'" v-class="selected: selectedTab === 'unanswered'">Unanswered</div>
        <div class="ui button">Ask a question</div>
      </div>
    </div>
  </div>
</div>

</div>
