{% extends 'person/person.html' %}

{% block title %}Personal Center - Database{% endblock %}

{% block body %}
  {{ super() }}

  <div id="view-database" v-cloak>
    <div id="database-sidebar" class="pc-sidebar">
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'all'" v-on="click: selectTag('all', true, null, null, false)">All</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'drafts'" v-on="click: selectTag('drafts', true, 2, 'progress', true)">Drafts</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'finished'" v-on="click: selectTag('finished', true, 2, 'progress', false)">Finished</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'favorites'" v-on="click: selectTag('favorites', false, null, null, false)">Favorites</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'share'" v-on="click: selectTag('share', true, 'share', 'tags', false)">My Sharings</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'public'" v-on="click: selectTag('public', true, 'public', 'tags', false)">My Publics</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'task'" v-on="click: selectTag('task', true, 'task', 'tags', false)">Mentioned In TaskHall</button>
    </div>

    <div id="database-main">
      <div id="database-list">
        <p id="database-stats">[[recordsBeingDisplayed.length]] [[recordsBeingDisplayed.length | pluralize 'record' 'records']] <a v-on="click: editStatus = !editStatus">Edit</a></p>
        <div id="database-search" class="ui left icon input">
          <input type="text" placeholder="Search..." v-model="searchTerm" debounce="500">
          <i class="search icon"></i>
        </div>
        <div class="database items">
          <button class="ui fluid button database item"
          v-repeat="rec in recordsBeingDisplayed"
          v-class="selected: selectedRecord === rec"
          v-on="click: selectRecord(rec)">
          [[rec.title]]
        </button>
      </div>

    </div>
    <div id="database-detail" v-show="selectedRecord !== null">
      <div id="detail-header">
        <div class="title">[[selectedRecord.title]]</div>
        <div id="detail-progress" class="detail header meta">
          <div class="text">progress:</div>
          <div v-repeat="item in ['design', 'modeling', 'experiment']"
          v-show="selectedRecord.progress >= $index"
          class="progress [[item]]"
          data-content="[[item | capitalize]]"></div>
        </div>
        <div id="detail-tags" class="detail header meta">
          <div class="text">tags:</div>
          <a class="ui tag label" v-repeat="tag in selectedRecord.tags">[[tag]]</a>
        </div>
        <div id="detail-short-desc" class="detail header meta">
          <div class="text">introduction:</div>
        </div>
      </div>
      <div id="detail-tabs">
        <div class="ui pointing secondary menu">
          <a v-repeat="i in ['Description', 'Circuits', 'Equations', 'Charts', 'Plasmids', 'References']"
          class="item"
          v-class="active: selectedTab === $index"
          v-on="click: selectedTab = $index">[[i]]</a>
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 0" id="details-description-tab">[[selectedRecord.description]]</div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 1"></div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 2"></div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 3"></div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 4"></div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 5"></div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 6"></div>
      </div>
    </div>
  </div>

</div>

<script src="/static/js/personal_center/dashboard_database.js"></script>
{% endblock %}

