{% extends 'person/person.html' %}

{% block title %}Core - Personal Center{% endblock %}

{% block body %}
  {{ super() }}

  <div id="view-database" v-cloak>
    <div id="database-sidebar" class="pc-sidebar">
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'all'" v-on="click: selectTag('all', true, null, null, false)">All</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'drafts'" v-on="click: selectTag('drafts', true, 2, 'progress', true)">Drafts</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'finished'" v-on="click: selectTag('finished', true, 2, 'progress', false)">Finished</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'favorites'" v-on="click: selectTag('favorites', false, null, null, false)">Favorites</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'share'" v-on="click: selectTag('share', true, 'share', 'tags', false)">My Sharings</button>
      <button class="ui fluid button database tag" v-class="selected: selectedTag === 'public'" v-on="click: selectTag('public', true, 'public', 'tags', false)">My Publics</button>
    </div>

    <div id="database-main">
      <div id="database-list">
        <p id="database-stats">[[recordsBeingDisplayed.length]] [[recordsBeingDisplayed.length | pluralize 'record' 'records']] <a v-on="click: editStatus = !editStatus">Edit</a></p>
        <div id="database-search" class="ui left icon input">
          <input type="text" placeholder="Search..." v-model="searchTerm" debounce="500">
          <i class="search icon"></i>
        </div>
        <div class="database items">
          <button class="ui fluid button database item"
          v-repeat="rec in recordsBeingDisplayed"
          v-class="selected: selectedRecord === rec"
          v-on="click: selectRecord(rec)">
          [[rec.name]]
        </button>
      </div>

    </div>
    <div id="database-detail" v-if="selectedRecord !== null">
      <div id="detail-header">
        <div class="title">[[selectedRecord.name]]</div>
        <div id="detail-tags" class="detail header meta">
          <div class="text">status:</div>
          <a class="ui tag label" v-repeat="tag in selectedRecord.tags"
             v-class="red: tag === 'Share', blue: tag === 'Public'">[[tag]]</a>
        </div>
        <div id="detail-short-desc" class="detail header meta">
          <div class="text">introduction: [[selectedRecord.introduction]]</div>
        </div>
      </div>
      <div id="detail-tabs">
        <div class="ui pointing secondary menu">
          <a v-repeat="i in ['Description', 'Equations', 'Charts', 'References']"
          class="item"
          v-class="active: selectedTab === i"
          v-on="click: selectTab(i)">[[i]]</a>
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 'Description'" id="details-description-tab">
          <template v-if="selectedRecord.img">
            <div class="ui header">Image:</div>
            <img v-attr="src: selectedRecord.img" alt="" class="ui image">
            <div class="ui divider"></div>
          </template>
          <div class="ui header">Full Description:</div>
          <div class="full">
            [[selectedRecord.description]]
          </div>
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 'Equations'">
          <div v-repeat="e in selectedRecord.equations">
            <v-equation expression="[[e.expression]]" target="[[e.target]]"></v-equation>
          </div>
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 'Charts'">
          <v-graph design-id="[[selectedRecord.id]]"></v-graph>
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 'References'">
          [[selectedRecord.references]]
        </div>
      </div>
    </div>
  </div>

</div>

{% include 'vGraph.html' %}
{% include 'vEquation.html' %}

<script src="//cdnjs.cloudflare.com/ajax/libs/mathjs/2.2.0/math.min.js"></script>
<script src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
<script src="/static/js/lib/Chart.min.js"></script>
<script src="/static/js/lib/highcharts.js"></script>
<script src="/static/js/vGraph.js"></script>
<script src="/static/js/vEquation.js"></script>
<script src="/static/js/personal_center/dashboard_database.js"></script>
{% endblock %}

