{% extends 'core_common.html' %}

{% block title %}Personal Center{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/custom_scrollbar.css">
  <link rel="stylesheet" href="/static/css/personal_center.css">
{% endblock %}

{% block body %}
  {{ super() }}

  <v-topbar>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Design</a>
      </div>
      <div class="item">
        <a class="ui button">Modeling</a>
      </div>
      <div class="item">
        <a class="ui button">Experiment</a>
      </div>
    </div>
  </v-topbar>

  <script type="x-template" id="database-template">
    {% include 'person/database.html' %}
  </script>

  <script type="x-template" id="notifications-template">
    {% include 'person/notifications.html' %}
  </script>

  <script src="/static/js/personal_center/dashboard_database.js"></script>
  <script src="/static/js/personal_center/dashboard_notifications.js"></script>
  <script src="/static/js/personal_center/personal_center.js"></script>
{% endblock %}

