<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Personal Center</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <link rel="stylesheet" href="/static/css/main_common.css">
  <link rel="stylesheet" href="/static/css/custom_scrollbar.css">
  <script src="/static/js/vue.js"></script>
  <link rel="stylesheet" href="/static/css/personal_center.css">
</head>
<body>

  <div class="ui page dimmer" id="main-switcher">
    <div class="content">
      <div class="center">
        <div class="ui inverted blue circular icon button"><i class="massive idea icon"></i></div>
        <div class="ui inverted red circular icon button"><i class="massive database icon"></i></div>
        <div class="ui inverted green circular icon button"><i class="massive checkmark icon"></i></div>
      </div>
    </div>
  </div>
  <script>$(function() {$('#topbar-menu').click(function() {$('#main-switcher').dimmer('show');});});</script>

  <div class="ui segment" v-show="loader.loading" id="loader">
    <div class="ui dimmer" v-class="active: loader.loading">
      <div class="ui large text loader">[[loader.text]]</div>
    </div>
  </div>

  <div class="ui secondary menu" id="topbar">
    <div class="ui circular image" id="topbar-avatar" data-content="Dashboard"><a href=""><img src="/static/img/avatar.jpg" alt="avatar"></a></div>
    <script>$(function() {$("#topbar-avatar").popup();});</script>

    <div class="item" id="topbar-index">
      <div class="ui button" id="topbar-btn-index"></div>
    </div>
    <div class="item" id="topbar-menu">
      <div class="ui icon button" id="topbar-btn-menu"><i class="sidebar icon"></i></div>
    </div>
    <div v-repeat="item : views" class="item" id="topbar-[[item]]">
      <div class="ui button" id="topbar-btn-[[item]]" v-on="click: currentView = item">[[item | capitalize]]</div>
    </div>
    <div class="right menu">
      <div v-repeat="item : rightMenu" class="item" id="topbar-[[item]]">
        <div class="ui button" id="topbar-btn-[[item]]">[[item | capitalize]]</div>
      </div>
    </div>
    <div id="topbar-bottom-line"></div>
  </div>

  <div id="main-container">
    <component id="main-view" is="[[ currentView ]]" keep-alive></component>
    <script type="x-template" id="database-template">
      <div id="view-database">
        <div id="database-toolbar">
          <span class="database-record-count">[[databaseRecords.length]] [[databaseRecords.length | pluralize 'record' 'records']]</span>
          <div id="database-edit">
            <a v-on="click: editStatus = !editStatus" style="cursor: pointer;">Edit</a>
            <span>Sort by
              <div class="ui inline dropdown" id="order_dropdown">
                <input type="hidden" v-model="currentOrder" lazy>
                <div class="text">Time</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" data-value="[[ord]]" v-repeat="ord : orders">[[ord | capitalize]]</div>
                </div>
              </div>
              <a v-on="click: orderReverse = !orderReverse" style="cursor: pointer;">[[orderReverse ? '↓' : '↑']]</a>
            </span>
          </div>
        </div>
        <div v-show="databaseRecords.length" class="database records no-scrollbar">
          <div v-repeat="rec : databaseRecords | recordOrderBy currentOrder orderReverse" class="database record"
          v-class="getRecordClass(rec.completeness)" v-transition>
          <div class="header">[[rec.title]]</div>
          <div class="tags"><div v-repeat="tag : rec.tags">[[tag | capitalize]]</div></div>
          <div class="description">[[rec.description]]</div>
          <div class="completeness"><span>completeness: </span><div class="completeness-wrapper"><div v-repeat="rec.completeness + 1" class="[[getRecordClass($index)]]"></div></div></div>
          <a href="" class="more">more</a>
        </div>
      </div>
    </div>
  </script>
  <script type="x-template" id="reminder-template">
    <p>Hello Reminder</p>
  </script>
</div>

<script src="/static/js/personal_center.js"></script>

</body>
</html>
