<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Top Bar</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <link rel="stylesheet" href="/static/css/topbar.css">
</head>
<body>

  <div class="ui circular image" id="topbar-avatar" data-content="Dashboard"><a href=""><img src="/static/img/avatar.jpg" alt="avatar"></a></div>
  <script>$(function() {$("#topbar-avatar").popup();});</script>

  <div class="ui page dimmer" id="main-switcher">
    <div class="content">
      <div class="center">
        <div class="ui inverted blue circular icon button"><i class="massive idea icon"></i></div>
        <div class="ui inverted red circular icon button"><i class="massive database icon"></i></div>
        <div class="ui inverted green circular icon button"><i class="massive checkmark icon"></i></div>
      </div>
    </div>
  </div>
  <script>$(function() {$('#topbar-menu').click(function() {$('#main-switcher').dimmer('show');});});</script>


  <div class="ui secondary menu" id="topbar">
    <div class="item" id="topbar-index">
      <div class="ui button" id="topbar-btn-index"></div>
    </div>
    <div class="item" id="topbar-menu">
      <div class="ui icon button" id="topbar-btn-menu"><i class="sidebar icon"></i></div>
    </div>
    <div class="item" id="topbar-undo">
      <div class="ui button" id="topbar-btn-undo">Undo</div>
    </div>
    <div class="item" id="topbar-save">
      <div class="ui button" id="topbar-btn-save">Save</div>
    </div>
    <div class="item" id="topbar-help">
      <div class="ui button" id="topbar-btn-help">Help</div>
    </div>
    <div class="right menu">
      <div class="item" id="topbar-design">
        <div class="ui button" id="topbar-btn-design">Design</div>
      </div>
      <div class="item" id="topbar-modeling">
        <div class="ui button" id="topbar-btn-modeling">Modeling</div>
      </div>
      <div class="item" id="topbar-experiment">
        <div class="ui button" id="topbar-btn-experiment">Experiment</div>
      </div>
    </div>

    <div id="topbar-bottom-line"></div>
  </div>

  <div id="main-container">
    <div class="ui icon header"><i class="book icon"></i><div class="content">Icon Header</div></div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex suscipit placeat minus sit, possimus sed autem enim. Sit, in, dolor? Assumenda, voluptate. Iste saepe dignissimos omnis accusantium, ipsum, quisquam tempora!</p>
    <div class="ui huge header">First Header</div>
    <p>Dignissimos eum aliquid vitae mollitia ab, nam nulla distinctio architecto praesentium nihil neque dolor dolorum accusantium, quaerat sit ipsam pariatur ipsa? Libero animi officia non ad sint laboriosam dignissimos magni!</p>
    <div class="ui large header">Second Header</div>
    <p>Nam aspernatur, quos enim velit quod labore quam alias, nemo. Ipsa quia laudantium cupiditate molestias quisquam velit modi aut, nam reprehenderit commodi deleniti ipsum, neque doloremque quae distinctio aspernatur rerum?</p>
    <div class="ui medium header">Third Header</div>
    <p>Sunt saepe dolor vel maiores hic mollitia quia ea, distinctio modi laboriosam impedit delectus libero quas, nihil molestias nemo voluptatem aut error tempore pariatur. Recusandae saepe, illum! Ab, ipsum, sit.</p>
    <div class="ui small header">Fourth Header</div>
    <p>Sed molestias quisquam iste dolorem sunt voluptatum nihil illum pariatur quod omnis commodi soluta neque mollitia esse assumenda, consequatur minima dolores ducimus nobis blanditiis corporis excepturi suscipit eveniet. Veniam, iure!</p>
    <div class="ui tiny header">Fifth Header</div>
    <p>Sed molestias quisquam iste dolorem sunt voluptatum nihil illum pariatur quod omnis commodi soluta neque mollitia esse assumenda, consequatur minima dolores ducimus nobis blanditiis corporis excepturi suscipit eveniet. Veniam, iure!</p>
    <div class="ui tiny header">Fifth Header</div>
    <p>Sed molestias quisquam iste dolorem sunt voluptatum nihil illum pariatur quod omnis commodi soluta neque mollitia esse assumenda, consequatur minima dolores ducimus nobis blanditiis corporis excepturi suscipit eveniet. Veniam, iure!</p>
    <div class="ui tiny header">Fifth Header</div>
    <p>Sed molestias quisquam iste dolorem sunt voluptatum nihil illum pariatur quod omnis commodi soluta neque mollitia esse assumenda, consequatur minima dolores ducimus nobis blanditiis corporis excepturi suscipit eveniet. Veniam, iure!</p>
  </div>

</body>
</html>
