{% extends "core_common.html" %}
{% block title %} Core - Bank {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/bank_detail.css">
{% endblock %}

{% block body %}
    {{ super() }}
    <v-topbar>
        <div class="right menu">
            <div class="item">
                <a href="{{url_for('bank.index', _anchor='public')}}" class="ui button" id="linkPublic">Public</a>
            </div>
            <div class="item">
                <a href="{{url_for('bank.index', _anchor='share')}}" class="ui button" id="linkShare">Share</a>
            </div>
        </div>
    </v-topbar>

    <div id="main">
        <a class="anchor" name="Descriptions"></a>
        <a href="{{url_for('bank.index')}}" class="links"><i class="angle left icon"></i>Back</a>
        <div id="header">
            <h2 id="name">{{design.name}}</h2>
            <span id="totalUsers"><i class="users icon"></i>{{design.used}} useds</span>
            <span id="comments"><i class="edit icon"></i>{{design.comments.count()}} comments</span>
            <span id="author"><i class="user icon"></i>{{design.owner.username}}</span>
            <span id="time"><i class="wait icon"></i>{{design.release_time.strftime('%Y/%m/%d')}}</span>
        </div>
        <div id="content">
            <article>
                <h3 class="title"><i class="info circle icon"></i>Descriptions</h3>
                <div class="ui divider"></div>
                <p>{{design.brief_description}}</p>
                <div class="imageWrapper">
                    <img src="data:image/png;base64,{{design.img}}" alt="Picture of design">
                </div>
                <a class="anchor" name="Modeling"></a>
                <p>{{design.full_description}}</p>
            </article>
            <article>
                <h3 class="title"><i class="line chart icon"></i>Modeling</h3>
                <div class="ui divider"></div>
                <p>Equations</p>
                <div>
                    {{system}}
                </div>
                <div>
                    <img src="" alt="equation1">
                </div>
                <a class="anchor" name="Experiments"></a>
                <div>
                    <img src="" alt="equation2">
                </div>
            </article>
            <article>
                <a class="anchor" name="References"></a>
                <h3 class="title"><i class="lab icon"></i>Experiments</h3>
                <div class="ui divider"></div>
            </article>
            <article>
                <h3 class="title"><i class="book icon"></i>References</h3>
                <div class="ui divider"></div>
                <p>{{self.source}}</p>
                <p>{{self.protocol_reference}}</p>
            </article>
            <article>
                <a class="anchor" name="UserReviews"></a>
                <h3 class="title"><i class="comment icon"></i>User reviews</h3>
                <div class="ui divider"></div>
                <div id="review">
                    {% for c in design.comments.all() %}
                    <p>{{c.owner.username}}: {{c.content}}<span class="date">{{c.timestamp.strftime('%H:%M %d/%m/%Y')}}</span></p>
                        <div class="ui divider"></div>
                    {% endfor %}

                    <form class="ui reply form" action="{{url_for('bank.comment_detail', id=design.id)}}" method="POST">
                        <div class="field">
                            <textarea rows=3 name="content"></textarea>
                        </div>
                        <button type="submit" class="ui small blue labeled icon submit button">
                            <i class="edit icon"></i>Add New Comment
                        </button>
                    </form>
                </div>
            </article>
        </div>
        <div id="index">
            <div id="x-divider"></div>
            <div class="ui link list">
                <div class="item">
                    <div class="indexer"></div>
                    <a href="#Descriptions" class="item"><i class="info circle icon"></i>Descriptions</a>
                </div>
                <div class="item">
                    <div class="indexer"></div>
                    <a href="#Modeling" class="item"><i class="line chart icon"></i>Modeling</a></div>
                <div class="item"><div class="indexer"></div><a href="#Experiments" class="item"><i class="lab icon"></i>Experiments</a></div>
                <div class="item"><div class="indexer"></div><a href="#References" class="item"><i class="book icon"></i>References</a></div>
                <div class="item"><div class="indexer"></div><a href="#UserReviews" class="item"><i class="comment icon"></i>User reviews</a></div>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="/static/js/bank_detail.js"></script>
{% endblock %}
