{% extends "core_common.html" %}
{% block title %} Core - Bank {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/bank_detail.css">
    <link rel="stylesheet" href="/static/css/vRating.css">
{% endblock %}

{% block body %}
    {{ super() }}
    <v-topbar>
        <div class="right menu">
            <div class="item">
                <a href="{{url_for('bank.index', _anchor='public')}}" class="ui button" id="linkPublic">Public</a>
            </div>
            <div class="item">
                <a href="{{url_for('bank.index', _anchor='share')}}" class="ui button" id="linkShare">Share</a>
            </div>
        </div>
    </v-topbar>

    <div id="main">
        <a class="anchor" name="Descriptions"></a>
        <a href="{{url_for('bank.index')}}" class="links"><i class="angle left icon"></i>Back</a>
        <div id="header">
            <h1 id="name">{{design.name}}</h1>
            <span id="totalUsers"><i class="users icon"></i>{{design.used}} useds</span>
            <span id="comments"><i class="edit icon"></i>{{design.comments.count()}} comments</span>
            <span id="author"><i class="user icon"></i>{{design.owner.username}}</span>
            <span id="time"><i class="wait icon"></i>{{design.release_time.strftime('%Y/%m/%d')}}</span>
            <span id="time"><i class="favorite icon"></i>
                {% if not current_user.is_anonymous() %}
                {% if design in current_user.favorite_designs %}
                <a href="{{url_for('bank.favorites_del', id=design.id)}}">Remove from favorites</a>
                {%else%}
                <a href="{{url_for('bank.favorites_add', id=design.id)}}">Collect into favorites</a>
                {% endif %}
                {% else %}
                <a href="{{url_for('auth.login', next=url_for('bank.get_detailed', id=design.id)) }}">Login to collect</a>
                {% endif %}
            </span>
        </div>
        <div id="content-wrapper">
            <div id="content">
                <article>
                    <h3 class="title"><i class="info circle icon"></i>Descriptions</h3>
                    <div class="ui divider"></div>
                    <p>{{design.brief_description}}</p>
                    <div class="imageWrapper">
                        <img src="data:image/png;base64,{{design.img}}" alt="Picture of design">
                    </div>
                    <a class="anchor" name="Modeling"></a>
                    <p>{{design.full_description}}</p>
                </article>
                <article>
                    <h3 class="title"><i class="line chart icon"></i>Modeling</h3>
                    <div class="ui divider"></div>
                    <h4 class="title">Equations</h4>
                    {% for ele in system %}
                    <v-equation expression="{{ele.formular}}" target="{{ele.target}}"></v-equation>
                    {% endfor %}
                    <h4 class="title">Chart</h4>
                    <v-graph design-id="{{design.id}}"></v-graph>
                    <a class="anchor" name="References"></a>
                </article>
                <article>
                    <h3 class="title"><i class="book icon"></i>References</h3>
                    <div class="ui divider"></div>
                    <p>{{self.source}}</p>
                    <p>{{self.protocol_reference}}</p>
                </article>
                <article>
                    <a class="anchor" name="UserReviews"></a>
                    <h3 class="title"><i class="comment icon"></i>User reviews</h3>
                    <div class="ui divider"></div>
                    <div id="review">
                        {% for c in design.comments.all() %}
                        <p>{{c.owner.username}}: {{c.content}}<span class="date">{{c.timestamp.strftime('%H:%M %d/%m/%Y')}}</span></p>
                        <div class="ui divider"></div>
                        {% endfor %}

                    {% if not current_user.is_anonymous() %}
                        <form class="ui reply form" action="{{url_for('bank.comment_detail', id=design.id)}}" method="POST">
                            <div class="field">
                                <textarea rows=3 name="content"></textarea>
                            </div>
                            <button type="submit" class="ui small blue labeled icon submit button">
                                <i class="edit icon"></i>Add New Comment
                            </button>
                        </form>
                    {% else %}
                        <a href="{{url_for('auth.login', next=url_for('bank.get_detailed', id=design.id, _anchor='UserReviews')) }}">Login to comment</a>
                    {% endif %}
                </div>
            </article>
        </div>

        <div id="right-column">
            <div class="ui sticky">
            <h3 class="title"><i class="content icon"></i>Index</h3>
            <div class="ui divider"></div>
            <div id="index">
                <!-- <div id="x-divider"></div> -->
                <div class="ui link list">
                    <div class="item active"><a><div class="indexer"></div><i class="info circle icon"></i>Descriptions</a></div>
                    <div class="item"><a><div class="indexer"></div><i class="line chart icon"></i>Modeling</a></div>
                    <div class="item"><a><div class="indexer"></div><i class="book icon"></i>References</a></div>
                    <div class="item"><a><div class="indexer"></div><i class="comment icon"></i>User reviews</a></div>
                </div>
            </div>
            <h3 class="title"><i class="star icon"></i>Rating</h3>
            <div class="ui divider"></div>
            <v-rating design-id={{design.id}} canvas-width=230 canvas-height=170></v-rating>
            </div>
        </div>


        </div>

    </div>

    {% include 'vRating.html' %}
    {% include 'vEquation.html' %}
    {% include 'vGraph.html' %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/mathjs/2.2.0/math.min.js"></script>
    <script src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
    <script src="/static/js/lib/Chart.min.js"></script>
    <script src="/static/js/lib/highcharts.js"></script>
    <script src="/static/js/vRating.js"></script>
    <script src="/static/js/vEquation.js"></script>
    <script src="/static/js/vGraph.js"></script>
    <script src="/static/js/bank_detail.js"></script>
{% endblock %}
