<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Core Bank</title>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/font/lato.css">
    <link rel="stylesheet" href="/static/css/bank.css">
</head>
<body>
    <nav class="ui menu" id="topbar">
        <img src="/static/img/common/logo_small.png" alt="logo" class="item">
        <a class="item" id="sidebar"><i class="sidebar icon"></i></a>
        <h3 class="header item">CORE Bank</h3>
        <div class="right menu">
            <a class="item highlight" id="linkPublic">Public</a>
            <a class="item" id="linkShare">Share</a>
        </div>
    </nav>
    
    <div class="ui circular image" id="userAvatar" data-content="Dashboard"><a href=""><img src="/static/img/avatar.jpg" alt="avatar"></a></div>

    <div id="main">
        <div class="header">
            <div class="ui icon input" id="search">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <div class="ui small horizontal statistic" id="totalNumber">
                <div class="value" id="totalDesigns"> </div>
                <div class="label">designs</div>
            </div>
            <select class="ui dropdown" id="order">
                <option value="last-active">Last Active</option>
                <option value="used">Used</option>
                <option value="rate">Rate</option>
            </select>
            <button class="ui button" id="btnShare" style="display:none;">Share</button>
        </div>
    
        <div style="clear:both; height:0px;"></div>
        <table class="ui striped table" id="dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Contributor</th>
                    <th>Rate</th>
                    <th>Used</th>
                    <th>Comments</th>
                    <th>Last Active</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(7) %}
                <tr>
                    {% for j in range(8) %}
                    <td></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="pager">
            <i class="caret left icon" id="pageMinus"></i>
            <div class="number">
                <a href="#" class="selected">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
            </div>
            <i class="caret right icon" id="pageAdd"></i>
        </div>
    </div>
    
    <div class="ui modal small">
        <div class="header">Share your Design<i class="close icon"></i></div>
        <div class="content">
            <form class="ui form segment error" action="/bank/share" method="POST">
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="design">
                        <i class="dropdown icon"></i>
                        <div class="default text" id="designText">Select a finished but not shared Design</div>
                        <div class="menu" id="designList">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui input">
                        <input type="text" name="brief_description" id="bdtext" placeholder="Input brief description.">
                    </div>
                </div>
                <div class="field">
                    <textarea name="full_description" id="" cols="30" rows="10" id="fdtext" placeholder="Input full description"></textarea>
                </div>

                <button class="ui button" type="submit">Comfirm</button>
            </form>
        </div>
  </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="/static/js/bank.js"></script>

</body>
</html>
