<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Core Bank</title>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/font/lato.css">
    <link rel="stylesheet" href="/static/css/bank.css">
</head>
<body>
    <nav class="ui menu" id="topbar">
        <img src="/static/img/common/logo_small.png" alt="logo" class="item">
        <a class="item" id="sidebar"><i class="sidebar icon"></i></a>
        <h3 class="header item">CORE Bank</h3>
        <div class="right menu">
            <a class="item highlight" id="linkPublic">Public</a>
            <a class="item" id="linkShare">Share</a>
        </div>
    </nav>
    
    <div class="ui circular image" id="userAvatar" data-content="Dashboard"><a href=""><img src="/static/img/avatar.jpg" alt="avatar"></a></div>

    <div id="main">
        <div class="header">
            <div class="ui icon input" id="search">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <div class="ui small horizontal statistic" id="totalNumber">
                <div class="value" id="totalDesigns"> </div>
                <div class="label">designs</div>
            </div>
            <select class="ui dropdown" id="order">
                <option value="last-active">Last Active</option>
                <option value="used">Used</option>
                <option value="rate">Rate</option>
            </select>
            <button class="ui button" id="btnShare" style="display:none;">Share</button>
        </div>
    
        <div style="clear:both; height:0px;"></div>
        <table class="ui striped table" id="dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Contributor</th>
                    <th>Rate</th>
                    <th>Used</th>
                    <th>Comments</th>
                    <th>Last Active</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(7) %}
                <tr>
                    {% for j in range(8) %}
                    <td></td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="pager">
            <i class="caret left icon" id="pageMinus"></i>
            <div class="number">
                <a href="#" class="selected">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
            </div>
            <i class="caret right icon" id="pageAdd"></i>
        </div>
    </div>
    
    <div class="ui modal small">
        <div class="header">Update Your Settings <i class="close icon"></i></div>
        <div class="content">
          <div class="ui form">
            <div class="field">
                <a id="addDesigns"><i class="add circle icon"></i></a>
                <span>Add fromfinished designs</span>
            </div>
            <div class="field">
                <div class="ui input">
                    <input type="text" placeholder="Add contributor">
                </div>
            </div>
            <div class="field">
                <textarea name="" id="" cols="30" rows="10" placeholder="Add short description"></textarea>
            </div>
          </div>
          <div class="ui button" id="confirm">Confirm</div>
        </div>
  </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script>
        $(document).ready(function() {
            var attrName = ["id", "name", "description", "contributor", "rate", "used", "comments", "last active"];

            var totalNumber = 0;
            var keyword = "";

            var mode = "public";

            $("#linkPublic").click(function(event) {
                $("#linkPublic").addClass("highlight");
                $("#linkShare").removeClass("highlight");
                $("#btnShare").fadeOut('fast'); // blinking might happen
                //$("#btnShare").stop().fadeTo('fast', 0, function() {$(this).hide();});
                mode = "public";
                fillTable(1, "id", keyword);
            });
            $("#linkShare").click(function(event) {
                $("#linkShare").addClass("highlight");
                $("#linkPublic").removeClass("highlight");
                // $("#btnShare").fadeIn('fast');
                $("#btnShare").stop().fadeTo('fast',1, function() {$(this).show();});
                mode = "share";
                fillTable(1, "id", keyword);
            });

            $("#btnShare").click(function(event) {
                $(".ui.modal").modal('show');
            });
            $("#confirm").click(function(event) {
                $(".ui.modal").modal('hide');
            });

          //$.get('/bank/list?per_page=100000&page=1', function(data) {
          //    setTotalNumber(data["designs"].length);
          //});

            function setTotalNumber(_number) {
                totalNumber = _number;
                $("#totalDesigns").text(_number);
            }

            function fillTable(page, order, keyword) {
                var url = "";
                url = "/bank/list?per_page=7&page=" + page + "&order=" + order + "&keyword=" + keyword + "&mode=" + mode;
                $.get(url, function(data, needToSearch) {
                    if (data['error'] == 1) { 
                        alert(data['aux']);
                        window.location.href = data['aux'];
                    }
                    setTotalNumber(data["count"]);
                    designs = data["designs"];
                    
                    for (var i = 0; i < 9; i++) {
                        for (var j = 0; j < 8; j++) {
                            var cellName = "#dataTable tr:gt(0):eq(" + i + ") td:eq("+ j +")";
                            if (designs[i]) {
                                var attrVal = designs[i][attrName[j]];
                                if (j == 7) {
                                    // attrVal = attrVal.substring(0, 10);
                                };  
                                $(cellName).text(attrVal);
                            } else {
                                $(cellName).text("");
                            }
                            
                        };
                    };
                });
            }
            
            $("#linkPublic").click();
            fillTable(1, "id", keyword);
            $(".number a").click(function(event) {
                console.log($(this).html());
                fillTable($(this).html(), $("#order").val(), keyword);
                var links = $(".number a");
                for (var i = 0; i < 5; i++) {
                    $(links[i]).removeClass("selected");
                };
                $(this).addClass("selected");
            });

            // after switch to page 2, and search for something, error occurs
            $("#pageAdd").click(function(event) {
                var links = $(".number a");
                console.log(links[4]);
                console.log($(links[4]).html());
                if ($(links[4]).html() * 7 < totalNumber) {
                    for (var i = 0; i < 5; i++) {
                        $(links[i]).html(parseInt($(links[i]).html())+1);
                    };
                }
            });

            $("#pageMinus").click(function(event) {
                var links = $(".number a");
                if ($(links[0]).html() > 1) {
                    for (var i = 0; i < 5; i++) {
                        $(links[i]).html(parseInt($(links[i]).html())-1);
                    };
                }
            });

            $("#order").change(function(event) {
                fillTable($(".number .selected").html(), $("#order").val(), keyword);
            });

            $("#search input").bind('input propertychange', function() { 
                keyword = $("#search input").val();
                fillTable($(".number .selected").html(), $("#order").val(), keyword);
            });
        });
    </script>

</body>
</html>
