<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <link rel="stylesheet" href="/static/css/main_common.css">
{% endblock %}
</head>
<body>
{% block body %}
  <div class="ui page dimmer" id="main-switcher">
    <div class="content">
      <div class="center">
        <a href="/taskhall" class="link">
          <img src="/static/img/common/co-development_circular.png" class="ui image">
          <div class="description">Co-development</div>
        </a>
        <a href="/design" class="link">
          <img src="/static/img/common/design_circular.png" class="ui image">
          <div class="description">Design</div>
        </a>
        <a href="/bank" class="link">
          <img src="/static/img/common/bank_circular.png" class="ui image">
          <div class="description">Bank</div>
        </a>
      </div>
    </div>
  </div>

  {% set logged_in = current_user.is_authenticated() %}
  {% set unread_count = current_user.msg_box.filter_by(isread=False).count() %}
  <template id="topbar-template">
    <div class="ui secondary menu" id="topbar">
      {% if logged_in %}
      <div class="ui circular image" id="topbar-avatar">
        <img src="{{current_user.avatar or '/static/img/avatar.jpg'}}" alt="avatar">
        <div class="ui red circular label">{{unread_count}}</div>
      </div>
      {% endif %}
      <div class="ui popup transition hidden" id="topbar-avatar-popup">
        <div class="ui link list">
        {% if logged_in %}
          <a class="item" href="/person">Dashboard</a>
          <a class="item" href="/person/notifs">Notifications <div class="ui red circular label">{{unread_count}}</div></a>
          <a href="{{url_for('auth.logout')}}" class="item">Log Out</a>
        {% else %}
          <a href="{{url_for('auth.login')}}" class="item">Log In</a>
        {% endif %}
        </div>
      </div>

      <div class="item" id="topbar-index">
        <a href="{{url_for('main.index')}}" class="ui image" id="topbar-btn-index">
          <img src="/static/img/common/logo_small.png" alt="">
        </a>
      </div>
      <div class="item" id="topbar-menu">
        <div class="ui icon button" id="topbar-btn-menu"><i class="sidebar icon"></i></div>
      </div>
      <content select="div.right.menu"></content>
      <div id="topbar-bottom-line"></div>
    </div>
  </template>

  <component id="main-view" is="[[ currentView ]]" keep-alive></component>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <script src="/static/js/vue.js"></script>
  <script src="/static/js/core_common.js"></script>

{% endblock %}
</body>
</html>
