<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <link rel="stylesheet" href="/static/css/embedded.css">
  <link rel="stylesheet" href="/static/css/vRating.css">
</head>
<body>

  <div class="ui secondary menu" id="embedded-topbar">
    <a v-repeat="i in ['Description', 'Circuit', 'Equations', 'Charts', 'References']"
       class="item"
       v-class="active: selectedTab === $index"
       v-on="click: selectedTab = $index">[[i]]</a>
    <div class="right menu">
      <a class="item" id="embedded-edit-in-core" href=""><i class="edit icon"></i>View In CORE</a>
    </div>
    <div id="embedded-topbar-bottom-line"></div>
  </div>

  <div id="embedded-container">
    <div class="left">
      <div id="embedded-tabs">
        <div class="ui tab basic segment" v-class="active: selectedTab === 0" id="details-description-tab">
          {% if design.img %}
          <div class="ui header">Image:</div>
          <img src="data:image/jpeg;base64,{{design.img}}" alt="" class="ui fluid image">
          {% endif %}
          <div class="ui header">Brief Description:</div>
          <div class="brief">
            {{design.brief_description}}
          </div>
          <div class="ui divider"></div>
          <div class="ui header">Full Description:</div>
          <div class="full">
            {{design.full_description}}
          </div>
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 1">
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 2">

        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 3">
          <div id="chart"></div>
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 4">
          {{design.references}}
        </div>
      </div>

    </div>
    <div class="right">
      <v-rating completeness="{{design.completeness}}" compatibility="{{design.compatibility}}"
                safety="{{design.eval_safety}}" demand="{{design.eval_demand}}" efficiency="{{design.eval_efficiency}}"
                reliability="{{design.eval_reliability}}" accessibility="{{design.accessibility}}"></v-rating>
    </div>
  </div>

  {% include 'vRating.html' %}

  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/lib/semantic.min.js"></script>
  <script src="/static/js/lib/vue.js"></script>
  <script src="/static/js/lib/Chart.min.js"></script>
  <script src="/static/js/lib/highcharts.js"></script>
  <script src="/static/js/vRating.js"></script>
  <script src="/static/js/embedded.js"></script>
  <script src='//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  <script>
    $.get("/modeling/design/{{design.id}}", function(data) {
      console.log(data);
      vBody.drawChart($("#chart"), data.xAxis, data.variables);
    });
  </script>

</body>
</html>
