<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <link rel="stylesheet" href="/static/css/embedded.css">
  <link rel="stylesheet" href="/static/css/vRating.css">
</head>
<body>

  <div class="ui secondary menu" id="embedded-topbar">
    <a v-repeat="i in ['Description', 'Modeling', 'Charts', 'References']"
       class="item"
       v-class="active: selectedTab === i"
       v-on="click: selectTab(i)">[[i]]</a>
    <div class="right menu">
      <a class="item" id="embedded-edit-in-core" href=""><i class="edit icon"></i>View In CORE</a>
    </div>
    <div id="embedded-topbar-bottom-line"></div>
  </div>

  <div id="embedded-container">
    <div class="left">
      <div id="embedded-tabs">
        <div class="ui tab basic segment" v-class="active: selectedTab === 'Description'" id="details-description-tab">
          {% if design.img %}
          <div class="ui header">Image:</div>
          <a href="{{url_for('bank.get_detailed', id=design.id)}}" id="design-image">
            <img src="{{design.img}}" alt="" class="ui image">
          </a>
          {% endif %}
          <div class="ui header">Brief Description:</div>
          <div class="brief">
            {{design.brief_description}}
          </div>
          <div class="ui divider"></div>
          <div class="ui header">Full Description:</div>
          <div class="full">
            {{design.full_description}}
          </div>
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 'Modeling'">
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 'Charts'">
          <v-graph design-id="{{design.id}}"></v-graph>
        </div>
        <div class="ui tab basic segment" v-class="active: selectedTab === 'References'">
          {{design.references}}
        </div>
      </div>

    </div>
    <div class="right">
      <v-rating design-id="{{design.id}}"></v-rating>
    </div>
  </div>

  {% include 'vRating.html' %}
  {% include 'vGraph.html' %}

  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/lib/semantic.min.js"></script>
  <script src="/static/js/lib/vue.js"></script>
  <script src="/static/js/lib/Chart.min.js"></script>
  <script src="/static/js/lib/highcharts.js"></script>
  <script src="/static/js/vRating.js"></script>
  <script src="/static/js/vGraph.js"></script>
  <script src="/static/js/embedded.js"></script>

</body>
</html>
