<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to CORE!</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
  <div id="index-topbar">
    <a class="ui login button" id="UserGuideBtn">User Guide</a>
    <div class="right">
      {% if current_user.is_anonymous() %}
      <a href="/auth/login" class="ui login button">Log In</a>
      <a href="/auth/register" class="ui button">Sign Up</a>
      {% else %}
      <a href="{{url_for('person.index')}}" class="ui login button">Personal Center</a>
      <a href="{{url_for('auth.logout')}}" class="ui button">Logout</a>
      {% endif %}
    </div>
  </div>

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <div id="index-container">
        <div id="index-logo" class="ui image"><img src="/static/img/common/logo.png" alt="Core Logo"></div>

        <div id="index-links">

          <a href="/taskhall" class="link">
            <div class="ui dimmable image">
              <div class="ui dimmer transition hidden">
                <div class="content">
                  <div class="center">
                    <img src="/static/img/index/co-development_2.jpg" alt="" class="ui fluid image">
                  </div>
                </div>
              </div>
              <img src="/static/img/index/co-development.jpg" alt="" class="ui fluid image">
            </div>
          </a>

          <a href="/design" class="link">
            <div class="ui dimmable image">
              <div class="ui dimmer transition hidden">
                <div class="content">
                  <div class="center">
                    <img src="/static/img/index/design_2.jpg" alt="" class="ui fluid image">
                  </div>
                </div>
              </div>
              <img src="/static/img/index/design.jpg" alt="" class="ui fluid image">
            </div>
          </a>

          <a href="/bank" class="link">
            <div class="ui dimmable image">
              <div class="ui dimmer transition hidden">
                <div class="content">
                  <div class="center">
                    <img src="/static/img/index/bank_2.jpg" alt="" class="ui fluid image">
                  </div>
                </div>
              </div>
              <img src="/static/img/index/bank.jpg" alt="" class="ui fluid image">
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
  <div class="ui modal" id="userGuideModal">
    <i class="close icon"></i>
    <div class="btn-arrow left">
      <i class="angle left icon"></i>
    </div>
    <div class="btn-arrow right">
      <i class="angle right icon"></i>
    </div>
    <div class="content">
    </div>
    <div class="circleTab">
    </div>
  </div>

<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/lib/semantic.min.js"></script>
<script src="/static/js/index.js"></script>
<script>$('.dimmer').dimmer({on: 'hover'});</script>

</body>
</html>
