<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

<div id="pic-wrapper">
  <div id="pic">
    <div id="pic-content-wrapper">
      <img src="/static/img/login_logo.png" alt="LOGO" id="logo" class="ui image">
      <div class="ui form" id="form">
        <div class="ui left icon field">
          <input type="text" placeholder="Please enter your account..." id="account">
        </div>
        <div class="ui left icon field">
          <input type="password" placeholder="Please enter your password..." id="password">
        </div>
        <button class="ui button" type="submit" id="submit">Log In</button>
        <button class="ui button" id="signup">Create A Free Account</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>