<template id="rating-template">
  <div v-el="ratingWrapper" class="rating-wrapper">
    <canvas v-el="ratingRadar" class="rating-radar" v-attr="width: canvasWidth, height: canvasHeight"></canvas>
    <div v-show="canRate === 'on'" class="rating container" v-repeat="criterion in ratingCriteria">
      <div class="description">[[criterion]]</div>
      <div class="ui star rating" data-rating="3" data-max-rating="5" data-criterion-index="[[$index]]"></div>
    </div>
    <div v-show="canRate === 'on'" class="buttons">
        <button class="ui blue rating submit button" v-on="click: rate()" v-show="rated === 0">Rate!</button>
        <button class="ui blue disabled rating submit button" v-show="rated === 1">Rating...</button>
        <button class="ui blue disabled rating submit button" v-show="rated === 2">Rated:-)</button>
    </div>
  </div>
</template>
