body {
    height: 100%;
    background-image: url(/static/img/index/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid {
    height: 100%;
}

#index-topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-right: 25px;
    z-index: 100;
}

#index-topbar > .right {
    float: right;
}

#index-topbar .ui.button {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.95);
    border-radius: 0;
    font-weight: lighter;
    margin-left: 15px;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

#index-topbar .ui.button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.95);
}

#index-topbar .signup.button {
    background-color: #909292;
    color: #313131;
}

#index-topbar .login.button {
    background-color: #3b3f42;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
}

#index-container {
    text-align: center;
}

#index-logo {
    margin-bottom: 30px;
}

#index-links {
    text-align: center;
}

#index-links > .link {
    display: inline-block;
    margin: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.95);
}


#userGuideModal .btn-arrow {
  text-align: center;
  position: absolute;
  top: 40%;
  cursor: pointer;
  width: 80px;
  height: 100px;
  vertical-align: middle;
}

#userGuideModal .btn-arrow.left {
  left: -90px;
}

#userGuideModal .btn-arrow .icon {
  color: #0bf;
  color: #7af0ff;
  font-size: 80px;
  font-weight: bold;
  transition: all .2s ease-out;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#userGuideModal .btn-arrow.right {
  left: 910px;
}

#userGuideModal {
  width: 900px;
  height: 500px;
  margin-left: -450px;
}

#userGuideModal .content {
  padding: 0;
  width: 900px;
  height: 500px;
  display: block;
  overflow: hidden;
}

#userGuideModal .content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 500px;
}

.circleTab {
  position: absolute;
  top: 515px;
  left: 50%;
  font-size: 22px;
  color: #999;
}

.circleTab i.actived {
  color: #7af0ff;
}

.circleTab i {
  transition: color .2s;
  -webkit-transition: color .2s;
  -moz-transition: color .2s;
}

.circleTab i:hover {
  cursor: pointer;
}