body {
    background-color: #e4e4e4;
    height: auto;
}

#pic {
    padding-bottom: 56.25%;
    background-image: url(/static/img/login_pic.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}

#logo {
    width: 100%;
}

#pic-content-wrapper {
    padding: 7.3% 32%;
}

#form {
    margin: 5vh 0;
}

#form > .ui.button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.95);
}

#form > .ui.button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.95);
}

#submit {
    margin-top: 5%;
    background-color: #3b3f42;
    color: #ffffff;
}

#signup {
    margin-top: 5%;
    background-color: #909292;
    color: #313131;
}

@media screen and (min-aspect-ratio: 16/9) {
    #pic-wrapper {
        margin-left: calc((100vw - 142vh) / 2);
        margin-right: calc((100vw - 142vh) / 2);
        height: 81vh;
        width: 142vh;
        margin-top: 9vh;
        margin-bottom: 9vh;
    }
    #form > .ui.button {
        height: 5vh;
        font-size: 2.3vh;
    }
    #form input {
        height: 5vh;
        font-size: 2vh;
    }
}

@media screen and (max-aspect-ratio: 16/9) {
    #pic-wrapper {
        margin-top: calc((100vh - 41vw) / 2);
        margin-bottom: calc((100vh - 41vw) / 2);
        width: 72vw;
        height: 41vw;
        margin-left: 14vw;
        margin-right: 14vw;
    }
    #form > .ui.button {
        height: 2.6vw;
        font-size: 1.3vw;
    }
    #form input {
        height: 2.6vw;
        font-size: 1.1vw;
    }
}

