body {
/*    position: relative;*/
}
img {
    height: 60px;
    width: 60px;
}

/*.item {
	height: 60px;
    width: 60px;
} */

.inhibition {
	width: 20px;
	height: 5px;
	background-color: red;
}

.Arrow {
  margin: 5px auto;
  width: 0px;
  height: 0px;
  border: 50px solid transparent;
  border-top-color: #2DCB70;
}

.red {
	color: red;
}

#main-contain {
    width: 100%;
    position: absolute;
}


#drawArea {
	width: 100%;
	height: 500px;
	position: relative;
	border: solid 1px black;
	z-index: 0;
}

#left-sidebar {
    position: fixed;
    top: 0;
    left:-455px;
    width: 445px;
    height: 100%;
    padding:10px 0;  
    z-index: 900;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;   /* Safari 和 Chrome */
}

#left-sidebar .trigger-left {
    position: absolute;
    width:40px;
    right: -40px;
    top: 48%;
    background:none;
    padding:0;
    border:none;
}

#left-sidebar > .accordion {
    height: 100%;
    background: none;
}

#left-sidebar #parts {
    height: 100%;
    overflow: auto;
    width: 425px;
}

#left-sidebar #devices {
    height: 100%;
    overflow: auto;
    width: 425px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    height: 8px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0;
    background-color: transparent;
    border: none;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

.selected {
    border: 2px solid blue;
}