.float-right {
	float: right;
}

.main_container {
	margin-top: 50px;
	padding: 20px 20px;
	height: 85%;
}

.main_container .tab {
	height: 100%;
}

.main_container .tabular.menu .item {
	background-color: #BEBEBF;
	padding-top: 5px;
	padding-bottom: 5px;
}

.main_container .tabular.menu .item .active {
	background-color: #fff;
}

#simulation-box, #experiment-box {
    box-shadow: 5px 5px 10px #989898 !important;/*opera或ie9*/  
    -moz-box-shadow: 5px 5px 10px #989898 !important;/*firefox*/  
    -webkit-box-shadow: 5px 5px 10px #989898 !important;/*webkit*/  
}

#experiment-menu.active {
	background-color: rgba(235, 245, 149, 1);
	border-bottom: none;
}

#simulation-menu.active {
	background-color: rgba(235, 245, 149, 1);
	border-bottom: none;
}

#experiment-menu {
	background-color: rgba(245, 250, 205, 0.6);
}

#simulation-menu {
	background-color: rgba(245, 250, 205, 0.6);
}

#simulation #map {
	height:400px;
	min-width: 700px;
}

#simulation .title > button {
	display: inline-block;
}

.float-right {
	float: right;
}

.iyello {
	background-color: rgba(235, 245, 149, 1) !important;
}


