#pic {
    background-image: url(/static/img/signup_pic.png);
}

#pic-content-wrapper {
    padding: 3rem 0;
    height: 100%;
    margin: 0;
}

#logo-column {
    padding: 0;
    width: 28.9%;
}

#logo {
    padding: 1.7rem 3.8rem 3rem 2rem;
}

#form-column {
    overflow-y: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0;
    padding-bottom: 0.5rem;
    /*height: 100%;*/
    width: 71.1%;
}

#form {
    height: 100%;
    margin-bottom: 1rem;
}

#form-inner-grid {
    padding-left: 0;
    border-bottom: 1px solid #e4e4e4;
}

#username, #password, #email {
    height: 4.6vh;
    border-radius: 0;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 2px;
}

#avatar {
    position: absolute;
    right: 2rem;
    height: 17.6vh;
    width: 17.6vh;
    z-index: 10000;
}

/*#form .row > .three.wide.column > p {*/
p {
    font-size: 1.3rem;
    vertical-align: bottom;
    padding-top: 0.3rem;
}

#form .row {
    padding-top: 0;
}

#tracks-checkbox {
    display: none;
}

#tracks-grid {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

#tracks-grid > .column {
    left: 3.125%;
}

.track.option .dimmer {
    background-color: rgba(0, 0, 0, 0);
}

.track.option .dimmer p {
    font-size: 1rem;
    text-align: center;
    color: #313131;
}

.track.option {
    transition: box-shadow .5s linear
}

.track.option .dimmer .checkbox {
    display: none;
}

.track.option.selected {
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

#submit {
    margin-top: 2rem;
}

