<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <link rel="stylesheet" href="/static/css/login_register_common.css">
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

<div id="pic-wrapper">
  <div id="pic">
    <div id="pic-content-wrapper">
      <img src="/static/img/login_logo.png" alt="LOGO" id="logo" class="ui image">
      <form class="ui form" id="form" action={{ url_for("auth.login") }} method="POST">
        {{ form.hidden_tag() }}

        <div class="ui input field">
          {{ form.username(placeholder='Please enter your account...') }}
        </div>

        <div class="ui input field">
          {{ form.password(placeholder='Please enter your password...') }}
        </div>

        {{ form.submit(class_='ui button') }}
        <button class="ui button" id="signup">Create A Free Account</button>
      </form>
    </div>
  </div>
</div>

{% if form.username.errors or form.password.errors %}
<div class="ui basic modal" id="error-modal">
  <div class="ui icon header"><i class="remove icon"></i>Your last attempt to log in has failed...</div>
  <div class="content">
    <div class="description">
      <div class="ui bulleted list">
        {% for e in form.username.errors %}
        <div class="item">{{ e }}</div>
        {% endfor %}
        {% for e in form.password.errors %}
        <div class="item">{{ e }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui blue ok basic inverted button"><i class="checkmark icon"></i>Okay</div>
  </div>
</div>
<script>$(function() { $('#error-modal').modal('show'); })</script>
{% endif %}


</body>
</html>