<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <link rel="stylesheet" href="/static/css/custom_scrollbar.css">
  <link rel="stylesheet" href="/static/css/login_register_common.css">
  <link rel="stylesheet" href="/static/css/register.css">
  <script src="/static/js/register.js"></script>
</head>
<body>

<div class="ui basic modal" id="reenter-modal">
  <div class="ui icon header"><i class="lock icon"></i>Confirm Password</div>
  <div class="content">
    <div class="description">
      <p id="reenter-note">Please re-enter the password you have just typed:</p>
      <div class="ui input">
        <input type="password" name="password2" id="password2">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui blue ok basic inverted button" id="submit2"><i class="checkmark icon"></i>Submit</div>
  </div>
</div>

<div id="pic-wrapper">
  <div id="pic">
    <div class="ui grid" id="pic-content-wrapper">
      <div class="five wide column" id="logo-column">
        <img src="/static/img/login_logo.png" alt="LOGO" id="logo" class="ui fluid image">
      </div>
      <div class="eleven wide column" id="form-column">
        <form action="/register" class="ui form" id="form" method="POST">

            <div class="ui blurring dimmable circular image" id="avatar">
              <div class="ui dimmer transition">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button" id="change-avatar">Change</div>
                  </div>
                </div>
              </div>
              <img src="/static/img/avatar.jpg" alt="Avatar">
            </div>

            <div class="ui padded right aligned grid" id="form-inner-grid">

              <div class="row">
                <div class="three wide column">
                  <p>Account:</p>
                </div>
                <div class="eight wide column">
                  <div class="ui input field">
                    <input type="text" id="username" name="username">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="three wide column">
                  <p>Password:</p>
                </div>
                <div class="eight wide column">
                  <div class="ui input field">
                    <input type="password" id="password" name="password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="three wide column">
                  <p>E-mail:</p>
                </div>
                <div class="eight wide column">
                  <div class="ui input field">
                    <input type="text" id="email" name="email">
                  </div>
                </div>
              </div>

            </div>

            <p>Tracks:</p>

            <div class="ui padded grid" id='tracks-grid'>


              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_artanddesign_bg.png)">
                        <p>Art & Design</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_artanddesign"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_artanddesign.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_communitylabs_bg.png)">
                        <p>Community Labs</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_communitylabs"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_communitylabs.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_energy_bg.png)">
                        <p>Energy</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_energy"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_energy.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_environment_bg.png)">
                        <p>Environment</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_environment"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_environment.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_foodandnutrition_bg.png)">
                        <p>Food & Nutrition</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_foodandnutrition"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_foodandnutrition.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_foundationaladvance_bg.png)">
                        <p>Foundational Advance</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_foundationaladvance"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_foundationaladvance.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_healthandmedicine_bg.png)">
                        <p>Health & Medicine</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_healthandmedicine"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_healthandmedicine.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_informationprocessing_bg.png)">
                        <p>Information Processing</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_informationprocessing"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_informationprocessing.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_manufacturing_bg.png)">
                        <p>Manufacturing</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_manufacturing"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_manufacturing.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_measurement_bg.png)">
                        <p>Measurement</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_measurement"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_measurement.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_newapplication_bg.png)">
                        <p>New Application</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_newapplication"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_newapplication.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_policyandpractices_bg.png)">
                        <p>Policy & Practices</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_policyandpractices"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_policyandpractices.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_software_bg.png)">
                        <p>Software</p>
                        <div class="ui checkbox"><input type="checkbox" name="track_software"></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_software.png" alt="" class="ui fluid image">
                </div>
              </div>


            </div>

            <button class="ui button" type="submit" id="submit">Create Account</button>

          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
