<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.form.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <link rel="stylesheet" href="/static/css/custom_scrollbar.css">
  <link rel="stylesheet" href="/static/css/login_register_common.css">
  <link rel="stylesheet" href="/static/css/register.css">
  <script src="/static/js/register.js"></script>
</head>
<body>

  {% if form.username.errors or form.password.errors or form.email.errors %}
  <div class="ui basic modal" id="error-modal">
    <div class="ui icon header"><i class="remove icon"></i>Your last attempt to log in has failed...</div>
    <div class="content">
      <div class="description">
        <div class="ui bulleted list">
          {% for e in form.username.errors %}
          <div class="item">{{ e }}</div>
          {% endfor %}
          {% for e in form.password.errors %}
          <div class="item">{{ e }}</div>
          {% endfor %}
          {% for e in form.email.errors %}
          <div class="item">{{ e }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui blue ok basic inverted button"><i class="checkmark icon"></i>Okay</div>
    </div>
  </div>
  <script>$(function() { $('#error-modal').modal('show'); })</script>
  {% endif %}

  <div class="ui modal" id="avatar-modal">
    <div class="header">Change Avatar</div>
    <div class="image content">
      <div class="ui medium image">
        <img class="avatar-image" src="/static/img/avatar.jpg" alt="">
      </div>
      <div class="description">
        <p>We've prepared a default avatar for you, but it's highly recommended to upload your own:</p>
        <form enctype="multipart/form-data" action="/pic/upload" method="POST" id="avatar-form">
          <input type="file" name="file" id="avatar-upload-input">
          <input type="submit" class="ui blue button" value="Upload">
        </form>
        <div class="ui negative message hidden">
          <div class="header">
            Upload Failed
          </div>
          <p id="avatar-upload-error"></p>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui ok right labeled icon button">OK<i class="checkmark icon"></i></div>
    </div>
  </div>

  <div id="pic-wrapper">
    <div id="pic">
      <div class="ui grid" id="pic-content-wrapper">
        <div class="five wide column" id="logo-column">
          <img src="/static/img/login_logo.png" alt="LOGO" id="logo" class="ui fluid image">
        </div>
        <div class="eleven wide column" id="form-column">
          <form action="/register" class="ui form" id="form" method="POST">

            <div class="ui blurring dimmable circular image" id="avatar">
              <div class="ui dimmer transition">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button" id="change-avatar">Change</div>
                  </div>
                </div>
              </div>
              <img class="avatar-image" src="/static/img/avatar.jpg" alt="Avatar">
            </div>
            <input type="text" id="avatar-url-input" style="display: none;" name="avatar">

            <div class="ui padded right aligned grid" id="form-inner-grid">

              <div class="row">
                <div class="three wide column">
                  <p>Account:</p>
                </div>
                <div class="eight wide column">
                  <div class="ui input field">
                    <input type="text" id="username" name="username">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="three wide column">
                  <p>Password:</p>
                </div>
                <div class="eight wide column">
                  <div class="ui input field">
                    <input type="password" id="password" name="password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="three wide column">
                  <p>E-mail:</p>
                </div>
                <div class="eight wide column">
                  <div class="ui input field">
                    <input type="text" id="email" name="email">
                  </div>
                </div>
              </div>

            </div>

            <p>Tracks:</p>

            <div class="ui padded grid" id='tracks-grid'>



              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="artanddesign">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_artanddesign_bg.png)">
                        <p>Art & Design</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_artanddesign.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="communitylabs">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_communitylabs_bg.png)">
                        <p>Community Labs</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_communitylabs.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="energy">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_energy_bg.png)">
                        <p>Energy</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_energy.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="environment">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_environment_bg.png)">
                        <p>Environment</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_environment.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="foodandnutrition">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_foodandnutrition_bg.png)">
                        <p>Food And Nutrition</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_foodandnutrition.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="foundationaladvance">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_foundationaladvance_bg.png)">
                        <p>Foundational Advance</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_foundationaladvance.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="healthandmedicine">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_healthandmedicine_bg.png)">
                        <p>Health & Medicine</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_healthandmedicine.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="informationprocessing">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_informationprocessing_bg.png)">
                        <p>Information Processing</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_informationprocessing.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="manufacturing">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_manufacturing_bg.png)">
                        <p>Manufacturing</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_manufacturing.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="measurement">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_measurement_bg.png)">
                        <p>Measurement</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_measurement.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="newapplication">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_newapplication_bg.png)">
                        <p>New Application</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_newapplication.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="policyandpractices">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_policyandpractices_bg.png)">
                        <p>Policy & Practices</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_policyandpractices.png" alt="" class="ui fluid image">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui dimmable image track option" data-value="software">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center" style="background-image: url(/static/img/tracks_bg/tracks_software_bg.png)">
                        <p>Software</p>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_software.png" alt="" class="ui fluid image">
                </div>
              </div>



            </div>

            <select multiple id="select-tracks" style="display: none;" name="tracks">
              <option value="artanddesign"></option>
              <option value="communitylabs"></option>
              <option value="energy"></option>
              <option value="environment"></option>
              <option value="foodandnutrition"></option>
              <option value="foundationaladvance"></option>
              <option value="healthandmedicine"></option>
              <option value="informationprocessing"></option>
              <option value="manufacturing"></option>
              <option value="measurement"></option>
              <option value="newapplication"></option>
              <option value="policyandpractices"></option>
              <option value="software"></option>
            </select>

            <button class="ui button" type="submit" id="submit">Create Account</button>

          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
