<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
  <link rel="stylesheet" href="/static/css/custom_scrollbar.css">
  <link rel="stylesheet" href="/static/css/login_register_common.css">
  <link rel="stylesheet" href="/static/css/signup.css">
  <script src="/static/js/signup.js"></script>
</head>
<body>

<div id="pic-wrapper">
  <div id="pic">
    <div class="ui grid" id="pic-content-wrapper">
      <div class="five wide column" id="logo-column">
        <img src="/static/img/login_logo.png" alt="LOGO" id="logo" class="ui fluid image">
      </div>
      <div class="eleven wide column" id="form-column">
        <form action="/signup" class="ui form" id="form" method="POST">

            <div class="ui blurring dimmable circular image" id="avatar">
              <div class="ui dimmer transition">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Change</div>
                  </div>
                </div>
              </div>
              <img src="/static/img/tracks/tracks_energy.png" alt="Avatar">
            </div>

            <div class="ui padded right aligned grid" id="form-inner-grid">

              <div class="row">
                <div class="three wide column">
                  <p>Account:</p>
                </div>
                <div class="eight wide column">
                  <div class="ui input field">
                    <input type="text" id="username">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="three wide column">
                  <p>Password:</p>
                </div>
                <div class="eight wide column">
                  <div class="ui input field">
                    <input type="password" id="password">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="three wide column">
                  <p>E-mail:</p>
                </div>
                <div class="eight wide column">
                  <div class="ui input field">
                    <input type="text" id="email">
                  </div>
                </div>
              </div>

            </div>

            <p>Tracks:</p>

            <div class="ui padded grid" id='tracks-grid'>


              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Art & Design</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-artanddesign"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_artanddesign.png" alt="artanddesign">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Community Labs</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-communitylabs"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_communitylabs.png" alt="communitylabs">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Energy</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-energy"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_energy.png" alt="energy">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Environment</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-environment"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_environment.png" alt="environment">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Food & Nutrition</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-foodandnutrition"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_foodandnutrition.png" alt="foodandnutrition">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Foundational Advance</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-foundationaladvance"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_foundationaladvance.png" alt="foundationaladvance">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Health & Medicine</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-healthandmedicine"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_healthandmedicine.png" alt="healthandmedicine">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Information Processing</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-informationprocessing"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_informationprocessing.png" alt="informationprocessing">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Manufacturing</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-manufacturing"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_manufacturing.png" alt="manufacturing">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Measurement</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-measurement"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_measurement.png" alt="measurement">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>New Application</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-newapplication"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_newapplication.png" alt="newapplication">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Policy & Practices</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-policyandpractices"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_policyandpractices.png" alt="policyandpractices">
                </div>
              </div>
              <div class="three wide column">
                <div class="ui blurring dimmable image track option">
                  <div class="ui dimmer transition hidden">
                    <div class="content">
                      <div class="center">
                        <p>Software</p>
                        <div class="ui fitted toggle checkbox"><input type="checkbox" name="track-software"><label for=""></label></div>
                      </div>
                    </div>
                  </div>
                  <img src="/static/img/tracks/tracks_software.png" alt="software">
                </div>
              </div>



            </div>


            <button class="ui blue button" type="submit" id="submit">Create Account</button>

          </form>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
